*{
    margin: 0;
    padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  /* width: 71%; */
    margin: 0 auto;
}


/* shaired style  */

.header-container p,.failures-previous p,.failures-previous ul li,.plans-description{
    font-size: 16px;
    color: #444343;
    line-height: 26px;
}


.primary-button{
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}


main{
    max-width: 1270px;
    margin: 0 auto;
}

.failures-previous h3,.plan-section-heading,.contact-section-heading{
    font-size: 40px;
    font-weight: bold;
}



/* sharied style end  */

/* header style  */

#header{
    background: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    margin-bottom: 140px;
    max-width: 1600px;
    margin: 0 auto 140px ;
    

}
.header-container{
    width: 525px;
    margin: 216px 230px 166px auto;
    text-align: right;
    

}

.header-container h2{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 24px;
}
.header-container p{
    margin-bottom: 32px;
}
.primary-button{
    color: white;
    background-color:#F15B22;
}


/* header syle end  */


/* failures section  */
section#failures {
    margin-bottom: 130px;
}
.failures-container{
    display: flex;
    align-items: center;
    gap: 87px;
}
.failures-img-container img{
    width: 670px;
}
.failures-previous{
    max-width: 416px;
}

.failures-previous p{
    margin-bottom: 16px;
}
.failures-previous ul li{
    list-style: none;
}
.failures-previous ul li i{
    color: green;
}


/* failures section end  */


/* plain section style  */
section#plan-section{
    margin-bottom: 130px;
}
.plain-heading-container{
    margin-bottom: 55px;
}

.plan-section-heading,.plans-container{
    text-align: center;
}
h3.plans-heading {
    font-size: 30px;
    font-weight: bold;
}

.plans-project-container {
    display: flex;
    justify-content: space-between;
}

/* plan section end  */




/* contact section  */

.contact-section-container{
     background:linear-gradient(90.00deg, rgba(241, 91, 34, 1),rgba(241, 91, 34, 0) 100%) ,url(../images/watch.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 140px;
    
    
    /* margin: 0 auto 140px ; */
}

.contact-section-container{
  
    padding: 64px;
    border-radius: 8px;
}

.contact-section-heading{
     max-width: 560px;
    color: white;
    margin-bottom: 24px;
}

.contact-section-container .call-button{
    color: #F15B22;
    background-color: white;
}